{% set difference = date(breakdown.stop).diff(date(breakdown.start)) %}
{% set leftDays = difference.days %}
<div class="row" style="font-size:2em;">
    <div class="col-lg-12">
        <table class="table">
            <tbody>
            <tr>
                <th>Created</th>
                <td>{% if breakdown.createdAt %}{{ breakdown.createdAt|date('Y-m-d H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Created by</th>
                <td>{% if breakdown.createdBy %}{{ breakdown.createdBy.name   }}{% endif %}</td>
            </tr>
            {% if breakdown.boringMachines|length>0 %}
                <tr>
                    <th>Updated by</th>
                    <td>
                        <ul>
                            {% for boringMachine in breakdown.boringMachines  %}
                                <li>{{ boringMachine.createdAt|date('Y-m-d H:i') }} by {{ boringMachine.createdBy.name }} </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>Start</th>
                <td>{% if breakdown.start %}{{ breakdown.start|date('Y-m-d H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Stop</th>
                <td>{% if breakdown.stop %}{{ breakdown.stop|date('Y-m-d H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Length</th>
                <td>{% if breakdown.stop %}{{ breakdown.start|timeDiff(breakdown.stop) }}{% else %}?{% endif %}</td>
            </tr>

            <tr>
                <th>Closed</th>
                <td>
                    {% if breakdown.closed %}
                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Descriptors</th>
                <td>
                    <ul class="list-inline">
                        {% for element in breakdown.descriptors|descriptor() %}
                            <li>
                            <span class="label label-default" style="background-color: {{ element.category.color }}">
                                {{ element.label }}
                            </span>

                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Interfero status</th>
                <td>
                    <ul class="list-inline" style="color: red;">
                    {% for breakdownInterfero in breakdown.breakdownsInterferos %}
                        {% if breakdownInterfero.status == true %}
                            <li>A{{ breakdownInterfero.interfero.antenna }} B{{  breakdownInterfero.interfero.band }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                    <ul class="list-inline" style="color: green;">
                    {% for breakdownInterfero in breakdown.breakdownsInterferos %}
                        {% if breakdownInterfero.status == false %}
                            <li>A{{ breakdownInterfero.interfero.antenna }} B{{  breakdownInterfero.interfero.band }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            {% if breakdown.description is not null %}
                <tr>
                    <th>Description</th>
                    <td>{{ breakdown.description|raw }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
