
<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ descriptor.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ descriptor.label }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td style="color:{{ descriptor.category.color }}; ">{{ descriptor.category.label }}</td>
            </tr>
            <tr>
                <th>Synonyms</th>
                <td><ul>{% for synonym in descriptor.synonyms  %}<li>{{ synonym.label }}</li>{% endfor %}</ul></td>
            </tr>
            <tr>
                <th>Breakdowns</th>
                <td>
                    <ul id="breakdownResultsList">
                        <strong>({{ descriptor.breakdowns|length }})</strong>
                        {% for breakdown in descriptor.breakdowns  %}
                            <li breakdonwnId="{{ breakdown.id }}">
                                <a href="{{ path('operator_breakdown_show', { 'id': breakdown.id }) }}">
                                    #{{ breakdown.id }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>

            </tbody>
        </table>
    </div>


</div>


