{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Breakdown list</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-sm-6">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <div>
                <a href="{{ path('operator_breakdown_new') }}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Create a new entry
                </a>
            </div>
        </div>

        <div class="col-lg-4  col-sm-6">
            <form method="get" action="" name="breakdown_filter" id="descriptor_filter">
                <div id="formErrors">
                    {{ form_errors(form.closed) }}
                </div>
                <div class="filterBoxField">
                    {{ form_label(form.closed) }}
                    {{ form_widget(form.closed) }}
                </div>
                {{ form_rest(form) }}
                <input id="descriptor_filter_submit" type="submit" name="submit-filter" value="apply-filter" />
            </form>
        </div>

    </div>



    <div class="row">
        <div class="col-lg-12">
            <h2>Breakdown list</h2>
            {% if pagination|length > 0%}
            <p>
                <span class="label label-info">breakdowns  found</span> {{ pagination.getTotalItemCount }}
            </p>
        </div>

        <table class="table myPaginator">
            <thead>
            <tr>
                {% set direction = pagination.getDirection() %}
                <th>Actions</th>
                <th{% if pagination.isSorted('a.id') %} class="sorted {{ direction }}"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'id', 'a.id') }}
                </th>

                <th{% if pagination.isSorted('a.createdAt') %} class="sorted {{ direction }}"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'createdAt', 'a.createdAt') }}
                </th>
                <th{% if pagination.isSorted('a.createdBy') %} class="sorted {{ direction }}"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'createdBy', 'a.createdBy') }}
                </th>
                <th{% if pagination.isSorted('a.start') %} class="sorted {{ direction }}"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'start', 'a.start') }}
                </th>
                <th{% if pagination.isSorted('a.stop') %} class="sorted {{ direction }}"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'stop', 'a.stop') }}
                </th>
                <th{% if pagination.isSorted('breakdown_length') %} class="sorted {{ direction }}"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'length', 'breakdown_length') }}
                </th>
                <th{% if pagination.isSorted('a.closed') %} class="sorted {{ direction }}"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'closed', 'a.closed') }}
                </th>
                <th>descriptors</th>


            </tr>
            </thead>
            <tbody>
            {% for breakdown in pagination %}
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="{{ path('operator_breakdown_show', { 'id': breakdown.id }) }}">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    show
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('operator_breakdown_edit', { 'id': breakdown.id }) }}">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    edit
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('operator_breakdown_delete', { 'id': breakdown.id }) }}">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    delete
                                </a>
                            </li>

                        </ul>

                    </td>
                    <td>#{{ breakdown.id }}</td>

                    <td>{% if breakdown.createdAt %}{{ breakdown.createdAt|date('Y-m-d H:i') }}{% endif %}</td>
                    <td>{% if breakdown.createdBy %}{{ breakdown.createdBy }}{% endif %}</td>
                    <td>{% if breakdown.start %}{{ breakdown.start|date('Y-m-d H:i') }}{% endif %}</td>
                    <td>{% if breakdown.stop %}{{ breakdown.stop|date('Y-m-d H:i') }}{% endif %}</td>
                    <td>{% if breakdown.stop %}{{ breakdown.start|timeDiff(breakdown.stop) }}{% else %}?{% endif %}</td>


                    <td>{% if breakdown.closed %}<span><i class="glyphicon glyphicon-ok-circle"></i></span>{% else %}<span><i class="glyphicon glyphicon-remove-circle"></i></span>{% endif %}</td>
                    <td>
                        {% for descriptor in breakdown.descriptors_list|descriptorListSorter(breakdown.descriptors_list_category_label,breakdown.descriptors_list_category_color) %}
                            <span class="label label-default" style="background-color: {{ descriptor.color }};">{{ descriptor.label }}</span>
                        {% endfor %}
                    </td>


                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>
                    <span class="label label-warning">
                       breakdown not found... sorry
                    </span>
            </p>
        {% endif %}
    </div>



    <script>
        initMyPaginator();
    </script>



{% endblock %}
