<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">

    <title>Noema Pareto Manager</title>

    <meta name="description" content="Presentation à propos de l'application Noema Pareto MAnager">
    <meta name="author" content="Masnada Lilian">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


    <link rel="stylesheet" href="{{ asset('assets/vendor/reveal-js/css/reveal.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/reveal-js/css/theme/default.css') }}">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/reveal-js/lib/css/zenburn.css') }}">
    <!-- If the query includes 'print-pdf', include the PDF print sheet -->
    <script>
        if( window.location.search.match( /print-pdf/gi ) ) {
            var link = document.createElement( 'link' );
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = 'css/print/pdf.css';
            document.getElementsByTagName( 'head' )[0].appendChild( link );
        }
    </script>

    <!--[if lt IE 9]>
    <script src="{{ asset('assets/vendor/reveal-js/lib/js/html5shiv.js') }}"></script>
    <![endif]-->

    <style>
        .reveal table {
            margin: auto;
            border-collapse: collapse;
            border-spacing: 0;
        }

        .reveal table th {
            font-weight: bold;

        }

        .reveal table th,
        .reveal table td {
            text-align: center;
            padding: 0.2em 0.5em 0.2em 0.5em;
            border: 1px solid;

        }
    </style>
</head>

<body>

<div class="reveal">

<!-- Any section element inside of this container is displayed as a slide -->
<div class="slides">
<section>
    <h2>Noema Pareto Manager</h2>
    <h5>Designed to track breakdowns</h5>
    <p>
        <small>Masnada Lilian</small>
    </p>
    <img src="{{ asset('slide/npm_120x120.png') }}" >
</section>

<section>
    <h2>Historique</h2>
    <ul>
        <li>Mars 2016: Demande de Roberto et Ian-Martin de développer une application permettant de détécter et de hierarchiser les causes de la perte du temps d'observation</li>
        <li>Septembre 2016: Premières saisie</li>
        <li>Juin 2016: Nous sommes ici</li>
    </ul>

    <aside class="notes">
        Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
    </aside>
</section>

<!-- Example of nested vertical slides -->
<section>
    <section>
        <h2>Vilfredo Pareto</h2>
        <p>
            Sociologue et economiste italien (1848 - 1923)
        </p>
        <p>
            En 1906 il observe que 20% de la population detient 80% des richesses
        </p>
        <p>
            Le <a href="#" class="navigate-down">principe de pareto</a> découle de cette observtion

        </p>
        <a href="#" class="image navigate-down">
            <img src="{{ asset('slide/Vilfredo_Pareto.jpeg') }}">
        </a>
    </section>
    <section>
        <h2>Principe de Pareto</h2>
        <p>ou Loi du 80-20</p>
        <p>Environ 80% des effets sont le produit de 20% des causes</p>

    </section>
    <section>
        <h2>Optimum paretien</h2>
        <blockquote>
            Situation d'équilibre dans lequel on ne peut ameliorer le bien-être d'un individu sans deteriorer celui d'un autre...
        </blockquote>
        <img src="{{ asset('slide/justso1.gif') }}">

    </section>

    <section>
        <h2>Optimum paretien et Noema</h2>
        <p>Les ressouces permettant d'ameliorer et de maintenir un systeme ne sont pas infinies.</p>

        <p>Outils visant à optimiser l'allocation des ressources</p>
        <img src="{{ asset('slide/80-20.jpeg') }}">
    </section>
</section>

<section>
    <section>
        <h2>L'application</h2>
        <ul>
            <li>application web (interne Iram)</li>
            <li>connexion LDAP avec les identifiants Iram</li>
            <li>framework: Synfony (PHP)</li>
            <li>persistance: MySql</li>

            <p>
                Symfony est un framework moderne, sous licence MIT. Il permet l'integration de nombreuses fonctionnalités
            </p>
        </ul>

    </section>
    <section>
        <h2>Structure des données</h2>
        <h4>Descriptors</h4>
        <p>
            Les "descriptors" sont des mot-clefs.
        </p>
        <ul>
            <li>elements: Object physique (antenna 5,hexapod)</li>
            <li>status: Etat de la matière (stuck,break)</li>
            <li>action: Action qui a été menée (reboot)</li>
            <li>contributors: Action qui a été menée (oper,jyc)</li>
        </ul>
        <p>Cette liste est dynamique... Nous pouvons ajouter les categorie. (ex: ticket redmine)</p>
    </section>
    <section>
        <h2>Structure des données</h2>
        <h4>Breakdowns</h4>
        <p>
            Les "breakdowns" sont des évenements crées à la suite d'une perte partielle ou totale d'observation
        </p>
        <ul>
            <li>date début, date fin (donc une durée)</li>
            <li>les éléments de l'interferometre non disponible (toute l'antenne 1, toute la bande 1)</li>
            <li>une liste de "descriptor" pertinant dans la cause et la résolution du problème</li>
        </ul>
        <blockquote>En somme, ce sont les "breakdowns" qui craient le lien entre les "descriptors"</blockquote>
    </section>
    <section>

        <img src="{{ asset('slide/merise.png') }}">
    </section>
</section>

<section>
    <section>
        <h2>Utilisateurs</h2>
        <p>4 niveaux d'utilisation</p>
        <ul>
            <li>Operator</li>
            <li>Analyzer</li>
            <li>Manager</li>
            <li>Admin</li>
        </ul>
    </section>
    <section>
        <h2>Operator</h2>
        <p>Saisie/modification des <a target="_blank" href="{{ path('operator_breakdown_new') }}">breakdowns</a></p>

    </section>
    <section>
        <h2>Analyzer</h2>
        <p>Analyse des breakdown <a target="_blank" href="{{ path('analyzer_descriptorBar') }}">histogrammes et arbre</a></p>
    </section>
    <section>
        <h2>Manager</h2>
        <p></p>
    </section>
    <section>
        <h2>Admin</h2>
        <p>Gestion standart des utilisateurs et des donnéesmu</p>
    </section>
</section>

<section>
    <h2>Redmine vs Noema Pareto Manager</h2>
    <table >
        <thead>
        <th></th>
            <th><div><img src="{{ asset('slide/Redmine.png') }}"  style="width: 36px;"> Redmine</div></th>
            <th><div><img src="{{ asset('slide/npm_120x120.png') }}"  style="width: 36px;"> Noema Pareto Manager</div></th>
        </thead>
        <tbody>
        <tr>
            <td>Structure</td>
            <td>definie</td>
            <td>indefinie</td>
        </tr>
        <tr>
            <td>caracterisique</td>
            <td>robustesse,rigidité</td>
            <td>flexibilité</td>
        </tr>
        <tr>
            <td>Analogie</td>
            <td><img  src="{{ asset('slide/chene.jpeg') }}"  style="width: 200px;"></td>
            <td><img src="{{ asset('slide/gland.jpeg') }}" style="width: 200px;"></td>
        </tr>
        <tr>
            <td>Objectif</td>
            <td>comment/qui ?</td>
            <td>quoi/qui ?</td>
        </tr>
        </tbody>
    </table>
</section>





<section>
        <h2>Biais</h2>
        <p>
            Tendence naturelle (et logique) à donner plus d'importance aux événement LONG et/ou PENIBLE
        </p>

</section>

<section id="transitions">
    <h2>Quelques resultats</h2>
    <p>

        <a href="?transition=cube#/transitions">Tous les breakdowns (depuis septembre 2016)</a> -
        <a href="?transition=page#/transitions">Les breakdowns de moins d'une heure</a> -
        <a href="?transition=concave#/transitions">Tous les breakdown du mois de mars</a>
    </p>
</section>

<section id="themes">
    <h2>Developpements futures</h2>
    <ul>
        <li>Saisie automatique vers Redmine</li>
        <li>Saisie automatique stations.current</li>
        <li>Sauvegarde des analyses + export pdf,csv</li>
        <li>Possibilité pour les collaborateurs de s'abonner aux actions impliquant certain "descriptor"</li>
        <li>Vos idées...</li>
    </ul>

</section>


<section>
    <h1>C'est terminé!</h1>
    <p>Merci de votre attention...</p>
    <p>Des questions?</p>
</section>

</div>

</div>


<script src="{{ asset('assets/vendor/reveal-js/lib/js/head.min.js') }}"></script>
<script src="{{ asset('assets/vendor/reveal-js/js/reveal.min.js') }}"></script>

<script>

    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Parallax scrolling
        // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
        // parallaxBackgroundSize: '2100px 900px',

        // Optional libraries used to extend on reveal.js
        dependencies: [
            { src: "{{ asset('assets/vendor/reveal-js/lib/js/classList.js') }}", condition: function() { return !document.body.classList; } },
            { src: "{{ asset('assets/vendor/reveal-js/plugin/markdown/marked.js') }}", condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: "{{ asset('assets/vendor/reveal-js/plugin/markdown/markdown.js') }}", condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: "{{ asset('assets/vendor/reveal-js/plugin/highlight/highlight.js') }}", async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: "{{ asset('assets/vendor/reveal-js/plugin/zoom-js/zoom.js') }}", async: true, condition: function() { return !!document.body.classList; } },
            { src: "{{ asset('assets/vendor/reveal-js/plugin/notes/notes.js') }}", async: true, condition: function() { return !!document.body.classList; } }
        ]
    });

</script>

</body>
</html>
